body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.container {
	width: 1370px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
}

.displayname {
    min-width: 300px;
}

.wrapper:hover {
    background: rgba(0, 0, 0, 0.1);
}

.company {
    min-width: 150px;
}

.title {
    min-width: 250px;
}

.office {
    min-width: 150px;
}

.phone {
    min-width: 100px;
}

.mobile {
    min-width: 120px;
}

.mail {
    min-width: 200px;
}

footer {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
}


.center {
    text-align: center;
}

.header {
    position: fixed;
}