body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    width: 1370px;
    margin: 0 auto;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}

main {
    margin-top: 20px;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
}

.displayname {
    min-width: 300px;
}

.wrapper:hover {
    background: rgba(0, 0, 0, 0.1);
    transition-duration: 0.2s;
}


.company {
    min-width: 150px;
}

.title {
    min-width: 250px;
}

.office {
    min-width: 150px;
}

.phone {
    min-width: 100px;
}

.mobile {
    min-width: 120px;
}

.mail {
    min-width: 200px;
}

footer {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-top: rgba(0, 0, 0, 0.1) 1px solid;
    margin-top: 20px;
}


.center {
    text-align: center;
}

.header {
    position: fixed;
}

.margin-top {
    margin-top: 20px;
}

.aboard {
    min-width: 90px;
    min-height: 14px;
    position: fixed;
    top: 30px;
    left: 5px;
    border: rgba(0, 0, 0, 0.1) 1px solid;
    padding: 5px 5px;
    background: rgba(0, 0, 0, 0.1)
}