body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    width: 1520px;
    margin: 0 auto;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

a {
    color: darkblue;
    text-decoration: none;
}

a:visited {
    color: darkblue;
}

a:hover {
    opacity: .5;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    width: 1520px;
}

.wrapper:hover {
    background: rgba(0, 0, 0, 0.1);
    transition-duration: 0.1s;
}

.displayname {
    min-width: 300px;
}

.company {
    min-width: 150px;
}

.title {
    min-width: 200px;
}

.department {
    min-width: 200px;
}

.office {
    min-width: 150px;
}

.phone {
    min-width: 100px;
}

.mobile {
    min-width: 120px;
}

.mail {
    min-width: 300px;
}

.account {
    min-width: 150px;
}

.status {
    min-width: 80px;
}

.bad_pwd_count {
    min-width: 120px;
}

.create_user {
    min-width: 200px;
}

.lockout_time {
    min-width: 150px;
}

footer {
    display: block;
    width: 1500px;
    text-align: center;
    border-top: rgba(0, 0, 0, 0.1) 1px solid;
    margin: 0 auto;
    padding: 20px; 
}

.center {
    text-align: center;
}

.header {
    position: fixed;
}

.margin-top {
    margin-top: 20px;
}

.aboard {
    min-width: 90px;
    min-height: 14px;
    position: fixed;
    top: 30px;
    left: 5px;
    border: rgba(0, 0, 0, 0.1) 1px solid;
    padding: 5px 5px;
    background: rgba(0, 0, 0, 0.1)
}