body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    background-color:rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #fff;
    border: rgba(0, 0, 0, 0.2) 1px solid;
    width: 902px;
    margin: 0 auto;
    padding-left: 50p;
}

* {
    box-sizing: border-box;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    display: block;
    list-style-type: none;
}

a {
    color: darkblue;
    text-decoration: none;
}

a:visited {
    color: darkblue;
}

a:hover {
    opacity: .5;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    width: 902px;
    padding: 0 50px;
    background-color: #fff;
    border-left: rgba(0, 0, 0, 0.2) solid 1px;
    border-right: rgba(0, 0, 0, 0.2) solid 1px;
}

.wrapper:hover {
    background: rgba(0, 0, 0, 0.1);
    transition-duration: 0.1s;
}

.expand:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    transition-duration: 0.1s;
}

.entries-length {
    width: 902px;
    margin: 0 auto;
    padding-left: 50px;
    border: rgba(0, 0, 0, 0.2) solid 1px;
    background-color: #fff;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 902px;
}

.step-links {
    display: block;
    margin: 0 auto;
}

.displayname {
    min-width: 300px;
}

.company {
    min-width: 150px;
}

.title {
    min-width: 200px;
}

.department {
    min-width: 200px;
}

.office {
    min-width: 150px;
}

.phone {
    min-width: 50px;
}

.mobile {
    min-width: 120px;
}

.mail {
    min-width: 300px;
}

.account {
    min-width: 200px;
}

.status {
    min-width: 80px;
}

.bad_pwd_count {
    min-width: 120px;
}

.create_user {
    min-width: 200px;
}

.lockout_time {
    min-width: 150px;
}

footer {
    display: block;
    width: 902px;
    text-align: center;
    margin: 0 auto;
    padding: 20px; 
}

.center {
    text-align: center;
}

.margin-top {
    margin-top: 20px;
}

.aboard {
    min-width: 90px;
    min-height: 14px;
    position: fixed;
    top: 30px;
    left: 5px;
    border: rgba(0, 0, 0, 0.2) 1px solid;
    padding: 5px 5px;
    background: rgba(0, 0, 0, 0.1)
}

.hidden {
    display: block;
    overflow: hidden;
    width: 902px;
    padding-left: 75px;
    margin: 0 auto;
    background-color: #fff;
    border-right: rgba(0, 0, 0, 0.2) solid 1px;
    border-left: rgba(0, 0, 0, 0.2) solid 1px;
}


/* Формы, кнопки */

table {
    margin: 0 auto;
}

td>input {
    box-sizing: border-box;
    height: 2em;
    padding-left: 10px;
    border: 1px #000 solid;
    border-radius: 3px;
}

.login-form {
    margin: 20px auto;
}

button {
    margin-top: 5px;
    height: 2em;
    border-radius: 5px;
    cursor: pointer;
}

/* Create AD user */

.create-user-form {
    display: block;
    box-sizing: border-box;
    width: 550px;
    margin: 20px auto;
    padding: 50px 100px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    text-align: center;
    border-radius: 5px;
}

.create-user-form>form>ul>li {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    vertical-align: middle;
    line-height: 2em;
}

.comment {
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

.create-user-form_button {
    margin: 0 auto;
}

.label {
    margin-right: 10px;
}

.field>input {
    width: 170px;
    height: 2em;
    padding-left: 5px;
}

.field>select {
    width: 170px;
    height: 2em;
}


.result {
    color: #000000;
}

.warning {
    color: #ff0000;
}

.success {
    color: #008000;
}
