{% extends 'base.html' %}
{% load format_mobile from tags %}

{% block title %}Телефонная книга{% endblock %}

{% block content %}
<header>
    <div class="displayname center">ФИО</div>
    <div class="title center">Должность</div>
    <div class="office center">Рабочее место</div>
    <div class="phone center">Телефон</div>
    <div class="mobile center">Мобильный</div>
    <div class="mail center">Почта</div>
</header>
<main>
    {% if entries %}
        {% for entry in entries %}
            <div class="wrapper">
                <div class="displayname">
                    {% if entry.displayname == None %}
                        Не определено
                    {% else %}
                    {% endif %}
                    {{ entry.displayname }}
                </div>
                <div class="title" title="{{ entry.title }}">
                    {% if entry.title == None %}
                    {% else %}
                        {{ entry.title|truncatechars:20 }}
                    {% endif %}
                </div>
                <div class="company">
                    {% if entry.physicalDeliveryOfficeName == None %}
                    {% else %}
                        {{ entry.physicalDeliveryOfficeName }}
                    {% endif %}
                </div>
                <div class="phone">
                    {% if entry.telephoneNumber == None %}
                    {% else %}
                        {{ entry.telephoneNumber }}
                    {% endif %}
                </div>
                <div class="mobile">
                    {% if entry.mobile == None %}
                    {% else %}
                        {{ entry.mobile|format_mobile }}
                    {% endif %}
                </div>
                <div class="mail">
                    {% if entry.mail == None %}
                    {% else %}
                        {{ entry.mail }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        Контекст не найден
    {% endif %}
</main>
{% endblock %}