{% extends 'base.html' %}
{% load format_mobile from tags %}

{% block title %}Создание пользователя{% endblock %}

{% block content %}
<div class="container create-user-form">
    <form method="POST" action="{% url 'phonebook:create' %}">
    {% csrf_token %}
        <div>
            <label for="first-name">*Имя</label>
            <input name="first-name" id="first-name" type="text" required placeholder="Имя">
        </div>
        <div>
            <label for="last-name">*Фамилия</label>
            <input name="last-name" id="last-name" type="text" required placeholder="Фамилия">
        </div>
        <div>
            <label for="ext-name">*Отчество</label>
            <input name="name" id="ext-name" type="text" required placeholder="Отчество">
        </div>
        <div>
            <label for="title">Должность</label>
            <input name="title" id="title" type="text" placeholder="Должность">
        </div>
        <div>
            <label for="department">Отдел</label>
            <input name="department" id="department" type="text" placeholder="Отдел">
        </div>
        <div>
            <label for="location">Местоположение</label>
            <input name="location" id="location" type="text" placeholder="201">
        </div>
        <div>
            <label for="email">Почта</label>
            <input name="email" id="email" type="email" placeholder="name@example.com">
        </div>
        <div>
            <label for="ipphone">Внутренний телефон</label>
            <input name="ipphone" id="ipphone" type="text" placeholder="777">
        </div>
        <div>
            <label for="phone">Сотовый телефон</label>
            <input name="phone" id="phone" type="tel" placeholder="+79371234567">
        </div>
        <div>
            <label for="company">*Организация</label>
            <select name="company" id="company" required>
                <option selected disabled>Выберите организацию</option>
                <option value=ABZ>АБЗ №1</option>
                <option value=AVS>АвтоВолгаСтрой</option>
                <option value=SMT>СМУ Тольятти</option>
            </select>
        </div>
        <button type="submit">Отправить</button>
        <p>*Поля помеченное звездочкой являются обязательными</p>
    </form>
</div>
{% endblock %}