{% extends 'base.html' %}

{% block title %}Телефонная книга{% endblock %}

{% block content %}
<header>
    <div class="displayname center">ФИО</div>
    <div class="company center">Компания</div>
    <div class="title center">Должность</div>
    <div class="office center">Рабочее место</div>
    <div class="phone center">Телефон</div>
    <div class="mobile center">Мобильный</div>
    <div class="mail center">Почта</div>
</header>
<main>
    {% if conn %}
        {% for entry in conn %}
            <div class="wrapper">
                <div class="displayname">
                    {% if entry.displayname == None %}
                        Не определено
                    {% else %}
                    {% endif %}
                    {{ entry.displayname }}
                </div>
                <div class="company">
                    {% if entry.company == 'ODS' %}
                        ОблДоСтрой
                    {% elif entry.company == 'AVS' %}
                        АвтоВолгаСтрой
                    {% elif entry.company == 'AVN' %}
                        Авангард
                    {% elif entry.company == 'ABZ' %}
                        АБЗ №1
                    {% elif entry.company == 'SMT' %}
                        СМУ Тольятти
                    {% elif entry.company == 'SMS' %}
                        СМУ Самара
                    {% elif entry.company == 'PNL' %}
                        ПНЛ
                    {% elif entry.company == 'PRS' %}
                        Перспектива
                    {% else %}
                        {{ entry.company }}
                    {% endif %}
                </div>
                <div class="title">
                    {% if entry.title == None %}
                    {% else %}
                        {{ entry.title }}
                    {% endif %}
                </div>
                <div class="company">
                    {% if entry.physicalDeliveryOfficeName == None %}
                    {% else %}
                        {{ entry.physicalDeliveryOfficeName }}
                    {% endif %}
                </div>
                <div class="phone">
                    {% if entry.telephoneNumber == None %}
                    {% else %}
                        {{ entry.telephoneNumber }}
                    {% endif %}
                </div>
                <div class="mobile">
                    {% if entry.mobile == None %}
                    {% else %}
                        {{ entry.mobile }}
                    {% endif %}
                </div>
                <div class="mail">
                    {% if entry.mail == None %}
                    {% else %}
                        {{ entry.mail }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        Констекст не найден
    {% endif %}
</main>
{% endblock %}