{% extends 'base.html' %}
{% load format_mobile from tags %}
{% load format_groups from tags %}
{% load format_description from tags %}
{% load convert_str_date from tags %}


{% block title %}Телефонная книга{% endblock %}

{% block content %}
<header class="container">
    <div class="center displayname"><a href="{{ request.path }}{% if company %}?company={{ company }}&sort=displayName{% else %}?sort=displayName{% endif %}">ФИО</a></div>
    <div class="center title"><a href="{{ request.path }}{% if company %}?company={{ company }}&sort=title{% else %}?sort=title{% endif %}">Должность</a></div>
    <div class="center phone"><a href="{{ request.path }}{% if company %}?company={{ company }}&sort=phone{% else %}?sort=phone{% endif %}">Телефон</a></div>
    <div class="center mail"><a href="{{ request.path }}{% if company %}?company={{ company }}&sort=mail{% else %}?sort=mail{% endif %}">Почта</a></div>
</header>
<main>
    {% if entries %}
        {% for entry in entries %}
            <div class="wrapper expand">
                <div class="displayname">
                    {% if entry.displayName %}
                        {{ entry.displayName }}
                    {% else %}
                    {% endif %}
                </div>
                <div class="title" title="{{ entry.title }}">
                    {% if entry.title %}
                        {{ entry.title|truncatechars:20 }}
                    {% else %}
                    {% endif %}
                </div>
                <div class="phone">
                    {% if entry.telephoneNumber %}
                        {{ entry.telephoneNumber }}
                    {% else %}
                    {% endif %}
                </div>
                <div class="mail">
                    {% if entry.mail %}
                        {{ entry.mail|lower }}
                    {% else %}
                    {% endif %}
                </div>
            </div>
            <div class="hidden">
                <ul>
                    <li>
                        {% if entry.mobile %}
                            Мобильный: {{ entry.mobile|format_mobile }}
                        {% endif %}
                    </li>
                    <li>
                        {% if entry.physicalDeliveryOfficeName %}
                            Местоположение: {{ entry.physicalDeliveryOfficeName }}
                        {% endif %}
                    </li>
                    <li>
                        {% if entry.department %}
                            Отдел: {{ entry.department }}
                        {% endif %}
                    </li>
                    <li>
                        Организация:
                        {% if entry.company == 'ODS' %}
                            ОблДорСтрой
                        {% elif entry.company == 'AVS' %}
                            АвтоВолгаСтрой
                        {% elif entry.company == 'AVN' %}
                            Авангард
                        {% elif entry.company == 'ABZ' %}
                            АБЗ №1
                        {% elif entry.company == 'SMT' %}
                            СМУ Тольятти
                        {% elif entry.company == 'SMS' %}
                            СМУ Самара
                        {% elif entry.company == 'PNL' %}
                            ПНЛ
                        {% elif entry.company == 'PRS' %}
                            Перспектива
                        {% elif entry.company == 'VPR' %}
                            Волга-Проект
                        {% elif entry.company == 'D84' %}
                            ДЭП84
                        {% else %}
                        {% endif %}
                    </li>
                        {% if user.is_authenticated %}
                    <li>
                        {% if entry.memberOf %}Группы:
                            {% for group in entry.memberOf %}
                                {{ group|format_groups }}{% if forloop.last %}{% else %},{% endif %}
                            {% endfor %}
                        {% endif %}
                    </li>
                    <li>{% if entry.whenCreated %}
                            Создана: {{ entry.whenCreated|convert_str_date }}
                        {% endif %}
                    </li>
                    <li>
                        {% if entry.description %}
                            {% for desc in entry.description %}
                                {{ desc|format_description }}
                            {% endfor %}
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ request.path }}status/?user={{ entry.distinguishedName }}&state={% if entry.userAccountControl == 512 or entry.userAccountControl == 66048 %}disable{% else %}enable{% endif %}">{% if entry.userAccountControl == 512 or entry.userAccountControl == 66048 %}Disable{% else %}Enable{% endif %}</a>
                    </li>
                    <li>
                        {% if entry.lockoutTime.value %}
                            {% if entry.lockoutTime.value == zero_lock_datetime %}
                            {% else %}
                                Дата блокировки: {{ entry.lockoutTime.value }} <a href="{{ request.path }}status/?user={{ entry.distinguishedName }}&state=unlock">Разблокировать</a>
                            {% endif %}
                        {% endif %}
                    </li>
                    {% endif %}
                </ul>
            </div>
        {% endfor %}
    {% else %}
    <div class="wrapper">Контекст не найден</div>
    {% endif %}

    <div class="entries-length">
        Всего записей: {{ entries|length }}
    </div>
</main>
{% endblock %}