{% extends 'base.html' %}
{% load format_mobile from tags %}

{% block title %}Телефонная книга{% endblock %}

{% block content %}
<header>
    <div class="displayname center"><a href="{{ request.path }}{% if company %}?company={{ company }}&{% endif %}sort=displayName">ФИО</a></div>
    <div class="company center"><a href="{{ request.path }}{% if company %}?company={{ company }}&{% endif %}sort=company">Компания</a></div>
    <div class="title center"><a href="{{ request.path }}{% if company %}?company={{ company }}&{% endif %}sort=title">Должность</a></div>
    <div class="department center"><a href="{{ request.path }}{% if company %}?company={{ company }}&{% endif %}sort=department">Отдел</a></div>
    <div class="office center"><a href="{{ request.path }}{% if company %}?company={{ company }}&{% endif %}sort=office">Рабочее место</a></div>
    <div class="phone center"><a href="{{ request.path }}{% if company %}?company={{ company }}&{% endif %}sort=phone">Телефон</a></div>
    <div class="mobile center"><a href="{{ request.path }}{% if company %}?company={{ company }}&{% endif %}sort=mobile">Мобильный</a></div>
    <div class="mail center"><a href="{{ request.path }}{% if company %}?company={{ company }}&{% endif %}sort=email">Почта</a></div>
</header>
<main>
    {% if entries %}
        {% for entry in entries %}
            <div class="wrapper">
                <div class="displayname">
                    {% if entry.displayName == '[]' %}
                        Не определено
                    {% else %}
                    {% endif %}
                    {{ entry.displayName }}
                </div>
                <div class="company">
                    {% if entry.company == 'ODS' %}
                        ОблДорСтрой
                    {% elif entry.company == 'AVS' %}
                        АвтоВолгаСтрой
                    {% elif entry.company == 'AVN' %}
                        Авангард
                    {% elif entry.company == 'ABZ' %}
                        АБЗ №1
                    {% elif entry.company == 'SMT' %}
                        СМУ Тольятти
                    {% elif entry.company == 'SMS' %}
                        СМУ Самара
                    {% elif entry.company == 'PNL' %}
                        ПНЛ
                    {% elif entry.company == 'PRS' %}
                        Перспектива
                    {% elif entry.company == 'VPR' %}
                        Волга-Проект
                    {% else %}
                        {{ entry.company }}
                    {% endif %}
                </div>
                <div class="title" title="{{ entry.title }}">
                    {% if entry.title == '[]' %}
                    {% else %}
                        {{ entry.title|truncatechars:20 }}
                    {% endif %}
                </div>
                  <div class="department" title="{{ entry.department }}">
                    {% if entry.department == '[]' %}
                    {% else %}
                        {{ entry.department|truncatechars:20 }}
                    {% endif %}
                </div>
                <div class="office">
                    {% if entry.physicalDeliveryOfficeName == '[]' %}
                    {% else %}
                        {{ entry.physicalDeliveryOfficeName }}
                    {% endif %}
                </div>
                <div class="phone">
                    {% if entry.phone == '[]' %}
                    {% else %}
                        {{ entry.phone }}
                    {% endif %}
                </div>
                <div class="mobile">
                    {% if entry.mobile == '[]' %}
                    {% else %}
                        {{ entry.mobile|format_mobile }}
                    {% endif %}
                </div>
                <div class="mail">
                    {% if entry.mail == '[]' %}
                    {% else %}
                        {{ entry.mail|lower }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
    <div class="wrapper">Контекст не найден</div>
    {% endif %}
    <br>
    <div class="wrapper">Всего записей: {{ entries|length }}</div>
</main>
{% endblock %}