{% extends 'base.html' %}


{% block auth %}{% endblock %}
{% block aboard %}{% endblock %}

{% block content %}
<table style="font-family: Arial">
    <tr>
        <td>Фамилия:</td>
        <td>{{ person.last_name }}</td>
    </tr>
    <tr>
        <td>Имя:</td>
        <td>{{ person.first_name }}</td>
    </tr>
    <tr>
        <td>Отчество:</td>
        <td>{{ person.middle_name }}</td>
    </tr>
    <tr>
        <td>---</td>
    </tr>
    <tr>
        <td>Почта:</td>
        <td>{{ person.email }}</td>
    </tr>
    <tr>
        <td>Пароль:</td>
        <td>Qq123456 (сменить при первом входе)</td>
    </tr>
    <tr>
        <td>---</td>
    </tr>
    <tr>
        <td>Логин:</td>
        <td>{{ person.login }}</td>
    </tr>
    <tr>
        <td>Пароль:</td>
        <td>Qq123456 (сменить при первом входе)</td>
    </tr>
</table>
{% endblock %}

{% block footer %}
{% endblock %}