{% extends 'base.html' %}
{% load format_mobile from tags %}

{% block title %}Учетные записи{% endblock %}

{% block content %}
<header>
    <div class="account center">Учетная запись</div>
    <div class="displayname center">ФИО</div>
    <div class="status center">Статус</div>
    <div class="bad_pwd_count center">Неверных вводов</div>
    <div class="create_user center">Дата создания</div>
    <div class="lockout_time center">Дата блокировки</div>
</header>
<main>
    {% if entries %}
        {% for entry in entries %}
            <div class="wrapper">
                <div class="account">
                    <a href="{{ request.path }}status/?user={{ entry.distinguishedName }}&state={% if entry.userAccountControl == 512 or entry.userAccountControl == 66048 %}disable{% else %}enable{% endif %}">{% if entry.userAccountControl == 512 or entry.userAccountControl == 66048 %}Disable{% else %}Enable{% endif %}</a>
                    {{ entry.sAMAccountName }}
                </div>
                <div class="displayname">
                    {{ entry.displayName }}
                </div>
                <div class="status center">
                    {% if entry.userAccountControl == 16 %}
                        Заблокирована
                    {% elif entry.userAccountControl == 512 or entry.userAccountControl == 66048 %}
                        Включена
                    {% elif entry.userAccountControl == 514 or entry.userAccountControl == 66050 %}
                        Отключена
                    {% else %}
                        {{ entry.userAccountControl }}
                    {% endif %}
                </div>
                <div class="bad_pwd_count center">
                    {% if entry.badPwdCount == 0 %}
                    {% else %}
                        {{ entry.badPwdCount }}
                    {% endif %}
                </div>
                <div class="create_user">
                    {% if entry.whenCreated == '[]' %}
                        Не определено
                    {% else %}
                        {{ entry.whenCreated.value|date:"d.m.Y" }}
                    {% endif %}
                </div>
                <div class="lockout_time">
                    {% if entry.lockoutTime.value %}
                        {% if entry.lockoutTime.value == zero_lock_datetime %}
                        {% else %}
                            {{ entry.lockoutTime.value }} <a href="{{ request.path }}status/?user={{ entry.distinguishedName }}&state=unlock">Разблокировать</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="wrapper">Контекст не найден</div>
    {% endif %}
    <br>
    <div class="wrapper">Всего записей: {{ entries|length }}</div>
    <div class="wrapper">Всего записей: {{ all_users|length }}</div>
</main>
{% endblock %}