{% extends 'base.html' %}

{% block title %}Журнал посещений{% endblock %}

{% block content %}
<header>
</header>
<main>
    {% if page_obj %}
        {% for record in page_obj %}
            <div class="wrapper">
                {{ record.ipaddress }} {{ record.hostname }} {{ record.http_referer }} {{ record.date }}
            </div>
        {% endfor %}
    {% else %}
        <div class="wrapper">Контекст не найден</div>
    {% endif %}
    <div class="pagination container">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&#9664</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">&#9658</a>
            {% endif %}
        </span>
    </div>
    <br>
    <div class="wrapper">Всего записей: {{ all_records|length }}</div>
    <div class="wrapper">Из них уникальных: {{ unique_records|length }}</div>
</main>
{% endblock %}