{% extends 'base.html' %}

{% block title %}Журнал посещений{% endblock %}

{% block content %}
<header>
</header>
<main>
    {% if all_records %}
        {% for record in all_records %}
            <div class="wrapper">
                {{ record.ipaddress }} {{ record.hostname }} {{ record.http_referer }} {{ record.date }}
            </div>
        {% endfor %}
    {% else %}
        <div class="wrapper">Контекст не найден</div>
    {% endif %}
    <br>
    <div class="wrapper">Всего записей: {{ all_records|length }}</div>
    <div class="wrapper">Из них уникальных: {{ unique_records|length }}</div>
</main>
{% endblock %}