.step-links {
    display: block;
    margin: 0 auto;
}

.logview-hostname {
    min-width: 200px;
}

.logview-user {
    min-width: 150px;
}

.logview-referer {
    min-width: 300px;
}

.logview-date {
    min-width: 150px;
}