{% extends 'base.html' %}
{% load static %}

{% block title %}Журнал посещений{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'actionlog/css/actionlog.css' %}">{% endblock %}

{% block content %}
<header>
</header>
<main>
    {% if page_obj %}
        {% for record in page_obj %}
            <div class="wrapper">
                <div class="container">
                    <div class="logview-hostname" title="{{ record.ipaddress }}">{{ record.hostname }}</div>
                    <div class="logview-user">{{ record.username }}</div>
                    <div class="logview-referer" title="{{ record.path }}">{{ record.path|truncatechars:40 }}</div>
                    <div class="logview-date">{{ record.date }}</div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="wrapper">Контекст не найден</div>
    {% endif %}
    <div class="pagination container">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&#9664</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">&#9658</a>
            {% endif %}
        </span>
    </div>
    <br>
    <div class="container">Всего записей: {{ all_records|length }}</div>
    <div class="container">Из них уникальных: {{ unique_records|length }}</div>
</main>
{% endblock %}