<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Сайт{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'phonebook/css/style.css' %}">
</head>
<body>
    <div class="aboard">
        <ul>
            <li><a href="{% url 'phonebook:company' company='ODS' %}">ОблДорСтрой</a></li>
            <li><a href="{% url 'phonebook:company' company='AVS' %}">АвтоВолгаСтрой</a></li>
            <li><a href="{% url 'phonebook:company' company='AVN' %}">Авангард</a></li>
            <li><a href="{% url 'phonebook:company' company='ABZ' %}">АБЗ №1</a></li>
            <li><a href="{% url 'phonebook:company' company='SMT' %}">СМУ Тольятти</a></li>
            <li><a href="{% url 'phonebook:company' company='SMS' %}">СМУ Самара</a></li>
            <li><a href="{% url 'phonebook:company' company='PNL' %}">ПНЛ</a></li>
            <li><a href="{% url 'phonebook:company' company='PRS' %}">Перспектива</a></li>
            <li><a href="{% url 'phonebook:company' company='VPR' %}">Волга-Проект</a></li>
            <li>---</li>
            <li><a href="{% url 'phonebook:index' %}">Все</a></li>
        </ul>
    </div>
{% block content %}

{% endblock %}
<footer>
    <div>Developed by Филиппов Константин</div>
    <div>Последнее обновление: 21.03.2021</div>
    <div>Обратная связь: <a href="mailto:filippov@avsst.ru">filippov@avsst.ru</a></div>
</footer>
</body>
</html>