<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Сайт{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'phonebook/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
{% block auth %}
    {% if user.is_authenticated %}
        Пользователь: {{ user.last_name }} {{ user.first_name}} (<a href="{% url 'logout' %}">Выйти</a>)
    {% else %}
        <a href="{% url 'login' %}">Войти</a>
    {% endif %}
{% endblock %}
</div>
    <div class="aboard">
        <ul>
            <li><a href="{% url 'phonebook:index' %}?company=ODS">ОблДорСтрой</a></li>
            <li><a href="{% url 'phonebook:index' %}?company=AVS">АвтоВолгаСтрой</a></li>
            <li><a href="{% url 'phonebook:index' %}?company=AVN">Авангард</a></li>
            <li><a href="{% url 'phonebook:index' %}?company=ABZ">АБЗ №1</a></li>
            <li><a href="{% url 'phonebook:index' %}?company=SMT">СМУ Тольятти</a></li>
            <li><a href="{% url 'phonebook:index' %}?company=SMS">СМУ Самара</a></li>
            <li><a href="{% url 'phonebook:index' %}?company=PNL">ПНЛ</a></li>
            <li><a href="{% url 'phonebook:index' %}?company=PNL">Перспектива</a></li>
            <li><a href="{% url 'phonebook:index' %}?company=VPR">Волга-Проект</a></li>
            <li>---</li>
            <li><a href="{% url 'phonebook:index' %}">Все</a></li>

                {% if user.is_authenticated %}
            <li><a href="{% url 'phonebook:users' %}">Пользователи</a></li>
            <li><a href="{% url 'phonebook:create' %}">Создать пользователя</a></li>
                {% else %}
                {% endif %}
        </ul>
    </div>
{% block content %}

{% endblock %}
<footer>
    <div>Developed by Филиппов Константин</div>
    <div>Последнее обновление: 21.04.2021</div>
    <div>Обратная связь: <a href="mailto:filippov@avsst.ru">filippov@avsst.ru</a></div>
</footer>

<script type="text/javascript">
$(document).ready(function(){
    $(".hidden").hide();
    $(".wrapper").click(function () {
        $(this).next().slideToggle("fast");
    });
})
</script>

</body>
</html>